# Docker build artifacts
[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]
Removed
Running
Started
.pom.xml.swp
*.save
**/.scannerwork/
gestion-piece-back/gestion-piece-back/target/
